<div class="container">
  <div style="text-align:center">
      <h1>
        Welcome to {{ title }}! <i class="fa fa-podcast"></i>
      </h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      <p>
        You can use this tool to create or edit your own podcast feed file. Follow the steps and 
        upload the resullting file to your server and you're ready to send links to every directory you want.
      </p>
    </div>

    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Start</ng-template>
        <p>Load your podcast data from a URL</p>
        <form (submit)="onClickGetFeed()">
          <mat-form-field>
            <input matInput type="url" [(ngModel)]="feedURL" placeholder="Write your feed's URL here." name="feedUL">
            
          </mat-form-field>

          <button mat-raised-button color="basic" (click)="onClickGetFeed()"> Get Feed </button>
        </form>
        <p>or a file</p>

    
        <p>or <button mat-raised-button color="primary" matStepperNext>create a new one!</button></p> 
        <button class="float-right" mat-raised-button color="primary" matStepperNext>NEXT</button>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Fill podcast data</ng-template>
        <app-podcast-editor [podcast]="podcast"></app-podcast-editor>
        <button class="float-right" mat-raised-button color="primary" matStepperNext>NEXT</button>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Episodes</ng-template>
        <h2>Items ({{podcast.items.length || 0 }} items found)</h2>
        <ul class="itemList">
          <li *ngFor="let item of podcast.items; let i = index">
            {{ item.title }}
          </li>
        </ul>
        <button class="float-right" mat-raised-button color="primary" matStepperNext>NEXT</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Get Your file!</ng-template>

        <button mat-raised-button color="accent">Download</button>

      </mat-step>

    </mat-horizontal-stepper>

    <div>
        <p *ngIf="podcast" style="background-color: whitesmoke;height: 50vh;overflow: scroll;">{{podcast.toXML()}}</p>
    </div>
</div>